<body>
  <div class="settings open">
    <i class="fa-solid fa-gear"></i>
  </div>

  <div class="d-flex flex-columns justify-content-center align-items-center gap-10">
    <div id="timer" class="timer">00:00</div>
    <div id="mode" class="mode">作業開始</div>
    <div class="data-percent"></div>
    <div class="btn-group">
      <button class="play"><i class="fa-solid fa-play fa-3x"></i></button>
      <button class="pause d-none"><i class="fa-solid fa-pause fa-3x"></i></button>
      <button class="stop"><i class="fa-solid fa-stop fa-3x"></i></button>
    </div>
  </div>

  <%# サイドメニュー %>
  <div class="settings-list">
    <i class="fa-solid fa-xmark close"></i>
    <h3>１作業（１ポモドーロ）の長さ</h3>
    <div class="d-flex flex-columns gap-10 form-group">
      <div>
        <label>
          <input type="number" id="work-time-minutes" min="0" step="1" value="25" class='form-input'>分
        </label>
        <label>
          <input type="number" id="work-time-seconds" min="0" step="1" value="0" class='form-input'>秒
        </label>
      </div>
      <label>
        長い休憩まで作業(ポモドーロ)回数
        <input type="number" id="work-time-intervals" min="0" step="1" value="4" class='form-input'>
      </label>
    </div>
    <h3 class="mt-3">短い休憩時間</h3>
    <div class="d-flex flex-columns gap-10 form-group">
      <div>
        <label>
          <input type="number" id="rest-time-minutes" min="0" step="1" value="5" class='form-input'>分
        </label>
        <label>
          <input type="number" id="rest-time-seconds" min="0" step="1" value="0" class='form-input'>秒
        </label>
      </div>
    </div>
    <h3 class="mt-3">長い休憩時間</h3>
    <div class="d-flex flex-columns gap-10 form-group">
      <div>
        <label>
          <input type="number" id="long-rest-time-minutes" min="0" step="1" value="15" class='form-input'>分
        </label>
        <label>
          <input type="number" id="long-rest-time-seconds" min="0" step="1" value="0" class='form-input'>秒
        </label>
      </div>
    </div>
    <div class="form-group">
      <button class="apply form-input" >適用</button>
    </div>
  </div>

  <%# <script src="index.js"></script> %>
  <%# https://www.airteams.net/media/articles/2041 %>
  <script type="module">
    import "index";
  </script>
</body>
