<div class="user-wrapper">
  <div class="user-form">
    <%= image_tag 'sad_tomato.png', alt: 'Sad tomato', size: "200x200", style: "margin: 0 auto;" %>
    <h1><%= title %></h1>
    <p><%= message %></p>
  </div>
</div>
