/* Devise */
.user-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-authentication {
  display: flex;
  justify-content: space-between;
}

.user-form {
  max-width: 300px;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}

.user-form h1 {
  font-size: 1.5rem;
}

/* Error */
#error_explanation h2 {
  font-size: 1rem;
  font-weight: bold;
}

#error_explanation ul li {
  list-style: initial;
}

/* Back link */
.back {
  display: block;
  margin-top: 1rem;
  color: white;
}
