// * {
//   margin: 0;
//   padding: 0;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }

.white {
  color: white;
}

.black {
  color: black;
}


body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  // display: grid;
  // place-items: center;
  // gap: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  /* 横方向の中央揃え */
  align-items: center;
  /* 縦方向の中央揃え */
  height: 100vh;
}

.d-none {
  display: none
}

.d-flex {
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mt-3 {
  margin-top: 1rem;
}

#circle {
  display: grid;
  place-items: center;
  z-index: 10;
  position: relative;

  align-self: flex-end;
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  --angle: 180deg;
  --color: red; //done

  background: conic-gradient(var(--color) 0,
      var(--color) var(--angle),
      rgba(0, 0, 0, 0.2) var(--angle),
      rgba(0, 0, 0, 0.2) 360deg);
}

#circle::after {
  z-index: -1;
  position: absolute;
  content: '';
  height: 10%;
  width: 10%;
  top: 45%;
  left: 45%;
  background-color: white;
  border-radius: 50%;
}

.btn-group {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.timer {
  font-size: 4.5rem;
  // align-self: flex-end;
  line-height: 1;
}

.mode {
  // align-self: flex-start;
  font-size: 1rem;
}

.btn-group>button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}

/* USER INPUTS */
.settings {
  text-align: right;
  position: absolute;
  height: 1.5rem;
  font-size: 1.5rem;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
  z-index: 20;
}

.settings-list {
  height: 100vh;
  width: 33vw;
  position: absolute;
  top: 0;
  right: -33vw;
  padding: 20px;
  z-index: 20;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s right;

  // 追加
  overflow-y: auto;
}

// 追加
.user-authentication {
  display: flex;
  justify-content: space-between;
}

// ギアアイコンをホバーした時のシャドウ（下線）
// .settings::after {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 0;
//   height: 2px;
//   width: 0%;
//   background: black;
//   transition: 0.5s width;
// }

// .settings:hover::after {
//   width: 100%;
// }

.settings-list .close {
  position: absolute;
  cursor: pointer;
  color: grey;
  top: 1rem;
  right: 1rem;
}


// カスタム：
.settings-list .form-input {
  width: 75px;
}

.settings-list .form-input.ouen {
  width: 50%;
}

/* ここから ★*/

.thumbnail {
  width: 50px;
  height: 50px;
}

.btn-custom {
  padding: .1rem;
}

.btn-check:checked+.btn-custom {
  padding: .1rem;
  border-color: red;
  background-color: red;
}

// 画像選択
/* ラジオボタンの○を消す */
// .sample-form input[type="radio"] {
/*    display: none;*/
// }

/* 画像の周りに隙間をあける */
// .sample-form label img {
// margin: 3px;
// padding: 5px;
// }

/* 未選択の場合、色を薄くする */
.theme input[type="radio"]+label img {
  opacity: 0.8;
}

/* 選択済みの場合、色を濃くする */
.theme input[type="radio"]:checked+label img {
  opacity: 1;
}

/* 未選択の場合、色を薄くする */
.theme input[type="radio"]+label img {
  opacity: 0.5;
}

/* 選択済みの場合、色を濃くする */
.theme input[type="radio"]:checked+label img {
  opacity: 1;
}

.theme img {
  width: 60px;
  height: 60px;
}

.theme {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.settings-list .form-switch {
  display: flex;
  justify-content: flex-start;
  column-gap: .5rem;
  // flex-direction: row-reverse;
  // margin: 0 auto;
  // text-align: left;
}

.settings-list .accordion-button {
  padding-left: 0px;
}

.settings-list .accordion {
  margin-bottom: 1.5rem;
}

.settings-list .apply {
  display: block;
  margin: 0 auto;
}
